<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--jQuery Link-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--Bootstrap Links-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!--CSS Style Sheet-->
    {{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}

    <title>Top News in Sports</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Sports News
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/saved">Saved Articles</a></li>
                    <li><button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button></li>
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}

    <!--External JS Link-->
</body>
<script>
    //Handle Scrape button
    $("#scrape").on("click", function () {
        $.ajax({
            method: "GET",
            url: "/scrape",
        }).done(function (data) {
            console.log(data)
            window.location = "/"
        })
    });

    //Set clicked nav option to active
    $(".navbar-nav li").click(function () {
        $(".navbar-nav li").removeClass("active");
        $(this).addClass("active");
    });

    //Handle Save Article button
    $(".save").on("click", function () {
        var thisId = $(this).attr("data-id");
        alert("Article Saved!")
        $.ajax({
            method: "POST",
            url: "/articles/save/" + thisId
        }).done(function (data) {
            window.location = "/"
        })
    });

    //Handle Delete Article button
    $(".delete").on("click", function () {
        var thisId = $(this).attr("data-id");
        $.ajax({
            method: "POST",
            url: "/articles/delete/" + thisId
        }).done(function (data) {
            window.location = "/saved"
        })
    });

    //Handle Save Note button
    $("button.btn.btn-success.saveComment").on("click", function () {
        var thisId = $(this).attr("data-id");
        console.log($("#commentInput").val())
        $.ajax({
            method: "POST",
            url: "/comments/save/" + thisId,
            data: {
                text: $("#commentInput" + thisId).val()
            }
        }).done(function (data) {
            // Log the response
            console.log(data);
            // Empty the notes section
            $("#noteText" + thisId).val("");
            $(".modalNote").modal("hide");
            window.location = "/saved"
        });
        //  }
    });

    //Handle Delete Note button
    $(".deleteNote").on("click", function () {
        var noteId = $(this).attr("data-note-id");
        var articleId = $(this).attr("data-article-id");
        $.ajax({
            method: "DELETE",
            url: "/notes/delete/" + noteId + "/" + articleId
        }).done(function (data) {
            console.log(data)
            $(".modalNote").modal("hide");
            window.location = "/saved"
        })
    });
</script>

</html>